@font-face 
{
	font-family: 'IntroDemo'; 
	src: local('IntroDemo'),
		url(fonts/IntroDemo-BlackCAPS.otf);	
}
@font-face 
{
	font-family: 'Comfortaa'; 
	src: local('Comfortaa'),
		url(fonts/Comfortaa-Bold.ttf);	
}

body
{
	padding: 0;
	margin: 0;
}

.background
{
	width: 100%;
	height: 100%;
}

.main-title
{
    position: relative;
    text-align: center;
    color: white;
}

.info-block
{
	height: auto;
	text-align: center;
	font-family: 'Comfortaa';
	font-size: 9px;
}

.main-title-text 
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: 'IntroDemo';
	font-size: 70px;
}

.main-title-text2 
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: 'IntroDemo';
	font-size: 30px;
}

.info-block-text2
{
	height: auto;
	text-align: center;
	font-family: 'Comfortaa';
    font-size: 40px;
}

.background1
{
	width: 50%;
	display: block;
    margin-right: auto;
}

.image-with-text 
{
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Comfortaa';
}
    
.image-with-text img
{
  	margin-right: 30px;    
}

.body
{
    border-radius: 140px	
}