body
{
	padding: 0;
	margin: 0;
}

.background
{
	width: 100%;
	height: 100%;
}

.main-title
{
    position: relative;
    text-align: center;
    color: white;
}

.main-title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 70px;
}