@font-face 
{
	font-family: 'IntroDemo'; 
	src: local('IntroDemo'),
		url(fonts/IntroDemo-BlackCAPS.otf); 
}

body
{
	padding: 0;
	margin: 0;
}

.background
{
	width: 100%;
	height: 100%;
}

.main-title
{
    position: relative;
    text-align: center;
    color: white;
}

.main-title-text 
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: 'IntroDemo';
	font-size: 70px;
}

.main-title-text2 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: 'IntroDemo';
	font-size: 50px;
}

.info-block
{
	text-align: center;
	font-size: 30px;
}